In [ ]:
#  Write a code to create a string with your name and print it.

name_string = "Piyush"
print(name_string)

Piyush

In [ ]:
#  Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
#  Write a code to slice the first 3 characters from the string "Python Programming".

course_string = "Python Programming"
print(course_string[0:3])

Pyt

In [ ]:
#  Write a code to convert the string "hello" to uppercase.

name = "hello"
print(name.upper())

HELLO

In [ ]:
#  Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [ ]:
#  Write a code to create a list with numbers 1 to 5 and print it.

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4, 5]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [ ]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b','c', 'd']
list = list[1]
print(list)

b

In [ ]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
#   Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple_fruit = ("mango", "kiwi", "banana")
"kiwi" in tuple_fruit

True

In [ ]:
#   Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = {'a', 'b', 'c'}  # Creating a set
print(set)

{'b', 'c', 'a'}

In [78]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [79]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#   Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
union_set = set_1.union(set_2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#   Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersect_set = set1.intersection(set2)
print(intersect_set)

{2, 3}

In [ ]:
#   Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = { "name" : "Piyush", "age" : "21", "city" : "Delhi"}
print(dict)

{'name': 'Piyush', 'age': '21', 'city': 'Delhi'}

In [ ]:
#   Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
value = person['name']
print(value)

Alice

In [ ]:
#   Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

details = {'name': 'bob', 'age': 22, 'city': 'New York'}
details.pop('age')
print(details)

{'name': 'bob', 'city': 'New York'}

In [ ]:
#   Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [ ]:
#   Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
list = [1, 2, 3, 4, 5]
tuple = ('apple', 'banana', 'cherry')
dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", list)
print("Tuple:", tuple)
print("Dictionary:", dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("The 5 random numbers are :", random_numbers)

The 5 random numbers are : [7, 18, 25, 47, 67]

In [ ]:
#  Write a code to create a list with strings and print the element at the third index.

name_list = ["Ram", "Shyam", "Ghanshyam", "Balram", "Madanram", "Mohanram"]
print("The element at the third index are :", name_list[3])

The element at the third index are : Balram

In [77]:
#   Write a code to combine two dictionaries into one and print the result.

dict1 = {'Student 1': "Ram", 'Student 2': "Shyam"}
dict2 = {'Student 3': "Balram", 'Student 4': "Ghanshyam"}

dict1.update(dict2)
print("Combined Dictionary :", dict1)

Combined Dictionary : {'Student 1': 'Ram', 'Student 2': 'Shyam', 'Student 3': 'Balram', 'Student 4': 'Ghanshyam'}

In [76]:
# Sample list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

string_set = set(string_list)
print("Converted set:", string_set)

Converted set: {'banana', 'cherry', 'apple'}