In [ ]:
# Write a Python program to print "Hello, World!


a = "Hello, World!"
print(a)

Hello, World!

In [ ]:
# Write a Python program that displays your name and age


a = "name :"
input(a)
b = "age :"
input(b)
print("name", "age")

name :Piyush
age :21
name age

In [ ]:
# Write code to print all the pre-defined keywords in Python using the keyword library


import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Write a program that checks if a given word is a Python keyword


import keyword
keyword_list = keyword.kwlist
word = input("enter any keyword : ")
if word in keyword_list :
      print("Yes")
else :
      print("No")

enter any keyword : True
Yes

In [ ]:
# Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each


my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

print(my_list)
print(my_tuple)

my_list[3] = 10
print(my_list)

my_tuple[3] = 10
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
[1, 2, 3, 10, 5]

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Write a function to demonstrate the behavior of mutable and immutable arguments


# >- Imutable

my_tuple = (0, 1, 2, 3)
my_tuple[0] = 4
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Write a function to demonstrate the behavior of mutable and immutable arguments


# >- Mutable

my_list = [1, 2, 3, 4, 5]
my_list[0] = 9
print(my_list)

[9, 2, 3, 4, 5]

In [ ]:
# Write a program to demonstrate the use of logical operators


#Logical Operators are (AND, OR, NOT)

x, y, z = True, False, True

# AND: Both conditions must be True
if x and z:
    print("Both x and z are True (AND condition).")

# OR: At least one condition must be True
if y or z:
    print("Either y or z is True (OR condition).")

# NOT:
if not y:
    print("y is False (NOT condition).")

Both x and z are True (AND condition).
Either y or z is True (OR condition).
y is False (NOT condition).

In [4]:
# Write a Python program to convert user input from string to integer, float, and boolean types


a = 20
print(type(a))
print(type(int(a)))
print(type(float(a)))
print(type(bool(a)))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# Write code to demonstrate type casting with list elements

In [7]:
# Write a program that checks if a number is positive, negative, or zero


num = float(input("enter a number : "))
if num > 0 :
    print("positive number")
elif num == 0 :
    print("zero")
else :
    print("negative number")

enter a number : 22
positive number

In [12]:
# Write a for loop to print numbers from 1 to 100


a = 1
while a <= 100:
    print(a , end= " ")
    a += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [15]:
# Write a Python program to find the sum of all even numbers between 1 and 50


num = 50
sum = 0
i = 0
while i <= num:
    if i % 2 == 0:
        sum+=i
    i+=1
print(f"Sum of all the even numbers is {sum}")

Sum of all the even numbers is 650

In [ ]:
# Write a program to reverse a string using a while loop

In [25]:
# Write a Python program to calculate the factorial of a number provided by the user using a while loop


a = int(input("Enter a number: "))
f = 1
for i in range(1, a+1):
   f = f * i
print("The factorial of the number is",f)

Enter a number: 3
The factorial of the number is 6